

<div id="fullpage"> 
    
{{!-- <!--Section 1--> --}}
    <div class="section" id="section1" data-anchor="firstPage">
    	<h1 data-aos="fade-up">BananaPhone</h1>
    		<p data-aos="fade-up">The future of technology.</p>

            
            <div class="row">
                <div class="col-md-3"></div>
                    <div class="col-md-6">
        	           <div class="oneImg" data-aos="fade-up">
        		      <img src="assets/img/bigPhoneHalf.png">
        	           </div>
                    </div>
                 <div class="col-md-3"></div>
            </div>

    </div>
		{{!-- <!--Section 2--> --}}
    <div class="section" id="section2" data-anchor="secondPage" data-aos-anchor="pageTwo">
        <div class="container-fluid">

    	<div class="row">
	    	<div class="col-md-4">
	    		<div class="feat" data-aos="fade-up">
	    			<h2>BananaBook</h2>
	    			    <img class="featImg" src="assets/img/BANANABOOK.png" height="200">
	    			<p>Something About the Product</p>
	    			<h4><a href="/products">Buy ></a></h4>
	    		</div>
	    	</div>
    		<div class="col-md-4">
    			<div class="feat" data-aos="fade-up">
    				<h2>BananaPro</h2>
    				    <img class="featImg" src="assets/img/BananaComp1.png" height="200">
    				<p>Something About the Product</p>
    				<h4><a href="/products">Buy ></a></h4>
	    		</div>
	    	</div>
	    	<div class="col-md-4">
    			<div class="feat" data-aos="fade-up" trigger-id="#pageTwo">
    				<h2>Banana Watch</h2>
    				    <img class="featImg" src="assets/img/bananaWatch.png" height="200">
    				<p>Something About the Product</p>
                    <h4><a href="/products">Buy ></a></h4>
	    		</div>
	    	</div>
	    </div>

	    <div class="row">
	    	<div class="col-md-4">
	    		<div class="feat" data-aos="fade-up">
	    			<h2>BananaTV</h2>
	    			    <img class="featImg" src="assets/img/BananaTV.png" height="200">
	    			<p>Something About the Product</p>
                    <h4><a href="/products">Buy ></a></h4>
	    		</div>
	    	</div>
    		<div class="col-md-4">
    			<div class="feat" data-aos="fade-up">
    				<h2>BananaWatch</h2>
                    <h4>Series 2</h4>
    				    <img class="featImg" src="assets/img/bananaWatch.png" height="200">
    				<p>Something About the Product</p>
                    <h4><a href="/products">Buy ></a></h4>
	    		</div>
	    	</div>
	    	<div class="col-md-4">
    			<div class="feat" data-aos="fade-up"> 
    				<h2>BananaBook Air</h2>
    				    <img class="featImg" src="assets/img/BANANABOOK.png" height="200">
    				<p>Something About the Product</p>
                    <h4><a href="/products">Buy ></a></h4>
	    		</div>   
	    	</div>
            </div>
	    </div>

    </div>
{{!-- <!--Section 3--> --}}
    <div class="section" id="section3" data-anchor="thirdPage">
			<div class="container-fluid">
                <div class="row">
			<div class="col-md-4">
        		<div class="analyticsThree" data-aos="fade-up">
        			<h2>Banana Phones are sold in # countries</h2>
        				<span class="numCount">50</span>
        		</div>
    		</div>
			
			<div class="col-md-4">
        		<div class="analyticsThree" data-aos="fade-up">
        			<h2>Banana Phones sold</h2>
        				<span class="numCount">50</span>
        		</div>
    		</div>

			<div class="col-md-4">
        		<div class="analyticsThree" data-aos="fade-up">
        			<h2>Banana Phones made</h2>
        				<span class="numCount">50</span>
        		</div>
    		</div>	
        </div>
    </div>
    </div>
{{!-- <!--Section 4--> --}}
    <div class="section" id="section4" data-anchor="fourthPage">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" data-aos="fade-up">
    	<h1>THE TEAM</h1>
        </div>
        <div class="col-md-4"></div>
        <br>
    
    <div class="row">
    		<div class="col-md-3" data-aos="fade-up">
    			<h2>Jacob</h2>
    			<a href="https://github.com/JacobAlli">
            		<img class="img-circle" src="https://avatars0.githubusercontent.com/u/29315636?s=460&v=4" >
            	</a>
                <br>
            	<h5> Goes by his handle XF a t a lX. Famous on the dark web for inventing rocket league, however has been unable to surpass bronze level. He hopes that in two years he will be able to reach silver. </h5>
            </div>

    		<div class="col-md-3" data-aos="fade-up">
    			<h2>Renee</h2>
    				<a href="https://github.com/rernst322">
            			<img class="img-circle" src="https://avatars0.githubusercontent.com/u/29467669?s=460&v=4" >
            		</a>
                    <br>
            		<h5>Born and raised in Kansas City, MO. Enjoys long walks down the sidewalk to a local pub. She has a pet goldfish named Pickles that just had his 10th birthday. </h5>
            </div>

    		<div class="col-md-3" data-aos="fade-up">
    			<h2>Ben</h2>
    				<a href="https://github.com/BenNewell32">
            			<img class="img-circle" src="https://avatars1.githubusercontent.com/u/23373268?s=460&v=4" >
            		</a>
                    <br>
            		<h5>Internationally known Tennis Player. 7x champion at the US Open. In 5 years he hopes to house BananaWorks in a building downtown that is shaped like a Banana. </h5>
            </div>

    		<div class="col-md-3" data-aos="fade-up">
    			<h2>Noah</h2>
    				<a href="https://github.com/nvnoahherron">
            			<img class="img-circle" src="https://avatars3.githubusercontent.com/u/29608787?s=400&v=4" >
            		</a>
                    <br>
            		<h5>Born and raised on the west side of Philedephia. Commonly found on the playground, most of his days. He enjoys shooting B-bal and coding in school. </h5>
    		</div>
            </div>
            </div>
    	</div>
    </div>
    

  </div>
