<section class="login-bg">


    <div class="login-card">
        {{#if errors}}
            {{#each errors}}
            <p class="error-warning">{{msg}}</p>
            {{/each}}
        {{/if}}

        {{#if success_msg}}
            <div class="success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
            <div class="error-warning">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
            <div class="error-warning">{{error}}</div>
        {{/if}}

        <div class="container">
            <div class="login-form">
                <form action="/login/signin" method="POST">
                    <label for="username">User Name</label>
                    <input type="text" name="username">
                    <label for="password">Password</label>
                    <input type="text" name="password">
                    <input type="submit" value="Login">
                </form>
            </div>
            <div class="register-form">
                <form action="/login/register" method="POST">
                    <label for="username">User Name</label>
                    <input type="text" name="username">
                    <label for="email">Email</label>
                    <input type="text" name="email">
                    <label for="password">Password</label>
                    <input type="text" name="password">
                    <label for="password_check">Verify Password</label>
                    <input type="text" name="password_check">
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</section>