<section class="login-bg">

    <div class="login-card">
        <div class="container">
            <div class="login-form">
                <form action="/login" method="post">
                    <input type="text" name="username">
                    <input type="text" name="password">
                    <input type="submit" value="Login">
                </form>
            </div>
            <div class="register-form">
                <form action="/login" method="POST">
                    <input type="text" name="username">
                    <input type="text" name="email">
                    <input type="text" name="password">
                    <input type="text" name="password_check">
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</section>