<section class="login-bg">


    <div class="login-card">
        {{#if errors}}
            {{#each errors}}
            <p class="error-warning">{{msg}}</p>
            {{/each}}
        {{/if}}

        {{#if success_msg}}
            <div class="success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
            <div class="error-warning">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
            <div class="error-warning">{{error}}</div>
        {{/if}}

        <div class="container">

            <div class="login-form">

                <h1>Login</h1>
                <form action="/login" method="post">
                    <label>Username</label>
                    <input type="text" name="username" id="login-username" required="">
                    <label>Password</label>
                    <input type="password" name="password" id="login-password" required="">
                    <input type="submit" value="Login" id="form-btn">
                </form>
            </div>
            <div class="register-form">
                <br>
                <h1>Register</h1>
                <form action="/login" method="POST">
                    <label>Username</label>
                    <input type="text" name="username" required="">
                    <label>Email</label>
                    <input type="email" name="email" required="">
                    <label>Password</label>
                    <input type="password" name="password" required="">
                    <label>Re-enter Password</label>
                    <input type="password" name="password_check" required="">
                    <input type="submit" value="Register" id="form-btn">

                </form>
            </div>
        </div>
    </div>
</section>