* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:after {
	box-sizing: inherit;
	margin: inherit;
	padding: inherit;
}


.one {
	background: #f2b632;
}

.two {
	background: #2e4052;
}

.three {
	background: #412234;
}

.four {
	background: #bdd9bf;
}

/* .login-bg {
	height: 100%;
	font-family: sans-serif;
	background: url("../assets/img/login-banana.jpg");
} */
body {
	margin: 0;
	padding: 0;
	background: url("../assets/img/login-banana.jpg");
	font-family: sans-serif;
	background-size: cover;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 40px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	border-radius: 10px;
}
 .container h1 {
	margin: 0 0 30px;
	padding: 0;
	color: white;
	text-align: center;
} 
.container .login-form {
	position: relative;
} 
.container .login-form input {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	color:#fff;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	background: transparent;
} 
 .container .login-form label {
	position: relative;
	top: 0;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}
.container .register-form {
	position: relative;
} 
.container .register-form input {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	background: transparent;
} 
 .container .register-form label {
	position: relative;
	top: 0;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

#form-btn {
	color: black;
	background: #f2b632;
}


