body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/********/
/* icon */
/********/
.icon{
  width: 30px;
  height: 30px;
  float: left;
  margin-left:30px;
  margin-top:10px;
}

/***********/
/* nav bar */
/***********/
.navbar-inverse{
  background:#222B31 !important;
  border-bottom:4px solid #ADB227 !important;
}

.navbar-brand{
  font:12px Lato !important;
  text-transform:uppercase;
  color:#FFF !important;
  letter-spacing:2px;
  margin-top:2px;
}

.nav{
  margin-bottom:0px;
  a{
    font:500 11px Lato;
    letter-spacing:2px;
    padding:16px !important;
    color:#a3bfc6 !important;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
  }
  a:hover{
    color:#FFF !important;
  }
  li{
    position:relative;
  }
}

.navbar-inverse .navbar-toggle{
  border:none;
}

.navbar-collapse{
  box-shadow:none !important;
  border:none !important;
}

.navbar-inverse .navbar-toggle:hover{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:focus{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:active{
  background:transparent !important;
}

.icon-bar{
  background:#a3bfc6 !important;
}

.hover{
  display:block;
  position:absolute;
  width:0%;
  height:100%;
  top:0px;
  left:0px;
  background:#EE445F !important;
  z-index:0;
  opacity:0;
}

@media (max-width: 767px) {
.nav{
  padding-bottom:20px;
  a{
    padding:12px !important;
  }
}
}

@media (max-width: 480px) {
  .nav{
    padding-bottom:20px;
  }
}

/**********/
/* footer */
/**********/
footer{
  background:#222B31;
  position:fixed;
  left:0px;
  bottom:0px;
  height:80px;
  width:100%;
  border-top:4px solid #ADB227 !important;
  
}

.footer-brand{
  position: absolute;
  z-index: -1;
  font:20px Lato !important;
  text-transform:uppercase;
  color:rgba(255, 255, 255, 0.23) !important;
  letter-spacing:2px;
  margin-top:2px;
  margin-left:-15px;
  text-align: center;
  justify-content: center;
}

/************/
/* profiles */
/************/
.img-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top:25px;

}

.img-circle:hover{
  background: rgba(255, 255, 255, 0.31);
  
}

/*****************/
/* products page */
/*****************/
.productshelf{
  background: #818B75;
  border: solid border-style #222B31;
  height: 2px;
  text-align: left;
  align-content: left;
  justify-content: left;
  width: 100%;
}

.buy{
  margin-top:15px;
}