* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:after {
	box-sizing: inherit;
	margin: inherit;
	padding: inherit;
}


.one {
	background: #444;
}

.two {
	background: #555;
}

.three {
	background: #666;
}

.four {
	background: #777
}